
#count {
	font-weight: bold;
	display: inline;
}

button {
    display: inline;
    margin-right: 12px;
}


#logo {
	width: 200px;
	height: 200px;
	background: url('../assets/holberton-logo.jpg');
	background-position: center;
	background-size: 200px 200px;
}
